<h1 class="page-header">Lists</h1>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(@list) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a List</h4>
      </div>
      <div class="modal-body">
        <% if @list.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :kid %>
            <%= f.collection_select(:kid_id, Kid.all, :id, :name) %>
            <%= f.label :list %>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <div class="actions">
              <%= f.submit class: 'button btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit class: 'btn btn-default' %>
    </div>
    <% end %> 
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>List Name</th>
        <th>Kids Name</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= list.kid.name %></td>
          <td><div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span class="sr-only">70% Complete</span>
              </div>
            </div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add a List</button>

