<h1 class="page-header">Kids</h1>
<div class="row placeholders">
 <% @kids.each do |kid| %>
 <div class="col-xs-6 col-sm-3 placeholder">
  <%= link_to image_tag(kid.kidimg), kid, :target => "_blank" %>
  <h4><%= link_to kid.name, kid, :target => "_blank" %></h4>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(@kid) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a kid</h4>
        <div class="image">
         <%= image_tag "panel_wide_01.png" %>
       </div>
     </div>
     <div class="modal-body">
      <% if @kid.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @kid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group row">
        <div class="large-12 columns">
          <%= f.label "kid's name:" %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="large-12 columns">
          <%= f.label "Add a picture:" %>
          <%= f.file_field :kidimg, :class => 'form-control'  %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Nah.</button>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
</div>
<!-- End of Modal -->
</div>
<!-- Button trigger modal -->

<button type="button" class="btn btn-primary btn-lg so-awesome" data-toggle="modal" data-target="#myModal">Add a Kid</button>

<ol id="add_kid_tip">
  <li data-class="so-awesome" data-text="Next" class="custom">
    <h2>Add A Kid!</h2>
    <p>You need to add a kid to give them tasks!</p>
  </li>
  <li data-button="Next">
    <h2>Tasks</h2>
    <p><i class="fa fa-hand-o-left fa-2x"></i> After you've added your kid, click over there where is says "Tasks".</p>
  </li>
  <li data-class="someclass" data-button="Next" data-options="tipLocation:right">
</ol>

<script>
$(window).load(function() {
  $("#add_kid_tip").joyride({
    autoStart : true,
    'cookieMonster': true,
    'cookieName': 'todozookid',
    postStepCallback : function (index, tip) {
      if (index == 2) {
        $(this).joyride('set_li', false, 1);
      }
    },
    modal:true,
    expose: true
  });
});
</script>
