<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//use.typekit.net/klr6jzc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="icon" href="../../favicon.ico">
  <title><%= content_for?(:title) ? yield(:title) : "To Do Zoo" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "To Do Zoo" %>">
  <meta name="author" content="Duncan Neal &amp; Derek Dyer">
  <%= stylesheet_link_tag 'kid', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="header-row">
        <div class="col-lg-3">
          <div class="user">
            <div class="icon">
              <%= image_tag "mia_circle.png" %>
            </div>
          </div>
        </div>
        <div class="nav">
          <ul>
            <li><i class="fa fa-bomb fa-5x"></i></li>
            <li><i class="fa fa-leaf fa-5x"></i></li>
          </ul>
        </div>
        <%= render 'layouts/messages' %>
      </div>

      <div class="main-container">
        <div class="row">
          <h1 class="page-heading">Kid's Name Chores</h1>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3">
            <%= image_tag "chores.png" %>
          </div>
          <div class="col-lg-9 col-md-9 chores-description-container">
            <p>Thundercats meditation four loko, biodiesel Schlitz roof party pickled fap mixtape American Apparel literally put a bird on it salvia. Typewriter fingerstache leggings distillery, umami paleo kogi jean shorts dreamcatcher tilde Marfa kale chips deep v. Four loko Neutra bitters Intelligentsia 8-bit sartorial mumblecore. Heirloom fanny pack deep v small batch Thundercats, 3 wolf moon four dollar toast sriracha PBR church-key. Four dollar toast cardigan Wes Anderson plaid asymmetrical, deep v vinyl photo booth fixie lo-fi freegan. YOLO tousled heirloom cred, art party disrupt Pitchfork pop-up you probably haven't heard of them. Vegan seitan photo booth before they sold out retro, leggings roof party Pitchfork Etsy pop-up +1 listicle banh mi iPhone ethical.</p>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <p>Stuff here</p>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
  </html>
