<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">To Do Zoo</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Settings</a></li>
        <li><%= link_to "Kid's Place", kids_path %></li>
      </ul>
      <form class="navbar-form navbar-right">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to 'My Kids', new_kid_path %><span class="sr-only">(current)</span></li>
        <li><%= link_to 'Lists', lists_path %></li>
        <li><%= link_to 'Items', items_path %></li>
        <li><%= link_to 'Progress', lists_progress_path %></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Kids</h1>

      <div class="row placeholders">
       <% @kids.each do |kid| %>
       <div class="col-xs-6 col-sm-3 placeholder">
        <%= image_tag kid.kidimg %>
        <h4><%= kid.name %></h4>
        <span class="text-muted">Something else</span>
      </div>
      <% end %>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add a Kid</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Fill Out This Form to Add a Kid</h4>
          </div>
          <div class="modal-body">
            <%= form_for(@kid) do |f| %>
            <% if @kid.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @kid.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <form>
              <div class="row">
                <div class="large-12 columns">
                  <%= f.label :kid %>
                  <%= f.text_field :name %>
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  <%= f.label :kidimg %>
                  <%= f.file_field :kidimg  %>
                </div>
              </div>

              <div class="row">
                <div class="large-12 columns">
                  <div class="actions">
                    <%= f.submit class: 'button tiny' %>
                  </div>
                </div>
              </div>
            </form>
            <% end %>
          </div>

          <div class="modal-footer">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>