<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//use.typekit.net/mjm7sjv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="icon" href="../../favicon.ico">
  <title><%= content_for?(:title) ? yield(:title) : "To Do Zoo" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "To Do Zoo" %>">
  <meta name="author" content="Duncan Neal &amp; Derek Dyer">
  <%= stylesheet_link_tag 'kid', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body class="kids-place">
    <div class="header-row">
      <div class="col-lg-3">
        <div class="user">
          <div class="icon">
            <%= image_tag @kid.kidimg.thumb, :class => "clip-circle" %>
          </div>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li><%= image_tag "broom_menu.png" %></li>
          <li><%= image_tag "screentime-02.png" %></li>
        </ul>
      </div>

      <%= render 'layouts/messages' %>
      <div class="head_logo">
        <%= image_tag "logo_dog_white_kid.png" %>
      </div>
    </div>
    <div class="main-container">
      <div class="row">
        <h1 class="page-heading"><%= @kid.name %>'s Chores</h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <% unless @lists.blank? %>
          <% @lists.each do |list| %>
          <div class="list<%= ' current' if list.id == @list.id %>">
            <%= image_tag "broom.png" %> 
            <h3><%= link_to list.name, kid_path(@kid, :list => list.id) %></h3>
          </div>
          <% end %>
        </div>
        <div class="col-lg-9 col-md-9 chores-description-container">
          <table>
            <% @items.each do |item| %>
            <tr>
              <td><%= item.task %></td>
              <td>
                <%= form_for([item.list, item]) do |f| %>
                <input type="hidden" value="1" name="item[is_complete]" id="item_is_complete">
                <%= f.submit "I'm done with this!", class: "button small radius" %>
                <% end %>
              </td>
              <td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#takePic">Take a pic of your finished chore!</button>
                <!-- Pic Modal -->
    <div class="modal fade" id="takePic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= form_for([item.list, item]) do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Take a Chore Pic</h4>
            <div class="modal-image">
             <%= image_tag "panel_wide_01.png" %>
           </div>
         </div>
         <div class="modal-body">
          <% if @kid.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% @kid.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="row">
            <div class="large-12 columns">
              <%= f.label "Add a picture:" %>
              <%= f.file_field :item_image  %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nah.</button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- Pic Modal -->
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
          <h1>Oh Snap! You don't have any lists yet!</h1>
          <% end %>
        </div>
      </div>
    </div>

</body>
</html>
