
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h2>Sign in here</h2>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label " " %>
      <%= f.email_field :email, :autofocus => true, placeholder: 'email' , class: 'form-control' %>
      <div class="password-form-group">
      <%= f.label " " %>
      <%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
    </div>
    <div class="form-group checkbox">
      <input type="checkbox" id="lg_remember" name="lg_remember">
      <label for="lg_remember">remember</label>        
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'center' %>
      <% end -%>  
      <%= f.submit 'Sign in', :class => 'button center' %>
      <% if devise_mapping.rememberable? -%>    
      <% end -%>
  <% end %>
  </div>
  </div>
</div>