<h1 class="page-header"><%= @list.name %> for <%= @list.kid.name %></h1>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for([@list, @item]) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an item to a list</h4>
        <%= image_tag "panel_wide_01.png" %>
      </div>
      <div class="modal-body">
        <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :list %>
            <%= f.collection_select(:list_id, current_user.lists.all, :id, :name) %>
            <%= f.label :item %>
            <%= f.text_field :task %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Nah.</button>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.task %></td>
        <td>
        <% if item.is_complete == true %>
          <p>Done!</p>
        <% else %>
          <p>Still working on this :/</p>
        <% end %>
        </td>
        <td>
          <% if item.item_image.blank? %>
          <p></p>
          <% else %>
          <%= image_tag item.item_image.thumb %>
        <% end %>
        </td>
        <td>
        <%= link_to list_item_path(item.list, item), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
        <% end %>
        </td>
      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add an Item</button>
