<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <script src="//use.typekit.net/mjm7sjv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <title><%= content_for?(:title) ? yield(:title) : "To Do Zoo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "To Do Zoo" %>">
    <meta name="author" content="Duncan Neal & Derek Dyer">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="animate.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <%= render 'layouts/messages' %>
  <%= yield %>

      <div class="mastfoot">
        <div class="container">
          <div class="row">
            <p class="pull-left">Copyright © 2015 D Squared, Inc. All rights reserved.</p>
            <p class="pull-right">Designed by <span><a target="_blank" href="http://www.theironyard.com">Duncan Neal & Derek Dyer</a></span></p>
          </div>
        </div>
      </div>
    <!--/Footer-->
  </body>
</html>